@page "/nasaapis"

@using Newtonsoft.Json
@using OutPost13.Components
@using OutPost13.Data
@using RestSharp

@inject IModalService modal 

<h1>NASA APIs</h1>

<p>This component demonstrates fetching data from the NASA API's.</p>

<h2>APOD API</h2>
<h3>NASAs Picture of the Day API. Photos for the whole week!</h3>

@foreach (APOD.Pod pics in Pods)
{	
		<h3>@pics.title - @pics.date</h3>
		<img style="max-width:75vw; display: block; margin-left: auto; margin-right: auto;" src="@pics.url" @onclick="@(() => modal.Show(new APOD_IMG(pics.url).GetType(), @pics.title))"/>
		<p>@pics.url</p>
		<p>@pics.explanation</p>
}

@code {
	//
	protected override Task OnInitializedAsync()
	{
		GetStartAndEndOfWeek();
		GetWeekOfPictures();

		return Task.CompletedTask;
	}

	private List<APOD.Pod> Pods = new();
	void GetWeekOfPictures()
	{
		var client = new RestClient($"https://api.nasa.gov/planetary/apod?api_key=FlMQpwnmPCZ1HNEAQXnPXeMyWdUZMhR253zEPLvl&thumbs=true&start_date={ReturnVal.Split(',').FirstOrDefault()}&end_date={ReturnVal.Split(',').LastOrDefault()}");
		client.Timeout = -1;
		var request = new RestRequest(Method.GET);
		request.AddHeader("Access-Control-Allow-Origin", "*");
		IRestResponse response = client.Execute(request);

		if (response.IsSuccessful)
		{
			Pods = JsonConvert.DeserializeObject<List<APOD.Pod>>(response.Content);
			Pods = Pods.OrderByDescending(d => d.date).ToList();
		}
	}

	private string ReturnVal = "";
	void GetStartAndEndOfWeek()
	{
		DateTime end = DateTime.Now;
		DateTime today = end.AddDays(-6);

		ReturnVal = $"{today.ToString("yyyy-MM-dd")},{end.ToString("yyyy-MM-dd")}";
	}
}